#ifndef CONFIG_LOCAL_H
#define CONFIG_LOCAL_H

// ==========================================
// CREDENCIALES LOCALES — NO VERSIONAR
// ==========================================

#define WIFI_SSID       "AIREON654846"
#define WIFI_PASSWORD   "d74hdf8dy3h"

#define BACKEND_HOST    "192.168.1.154"
#define BACKEND_PORT    5000

#endif // CONFIG_LOCAL_H